/* 전체 페이지 스타일 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

/* 로그인 박스 */
.loginBox {
  width: 350px;
  padding: 30px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

/* 제목 */
h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* 입력 필드 */
.input {
  width: 300px;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.inputError {
  width: 300px;
  padding: 12px;
  margin: 10px 0;
  background-color: #fbe8d2;
  border: 1px solid red;
  border-radius: 5px;
  font-size: 16px;
}

/* 로그인 버튼 */
.loginButton {
  width: 350px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0056b3;
}

.passwordWrapper {
  position: relative;
  width: 350px;
}

.passwordWrapper .input {
  width: 300px;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.eye {
  cursor: pointer;
  width: 22px;
  height: 22px;
  margin: auto;
  position: absolute;
  fill: gray;
  right: 15px;
  top: 35px;
  transform: translateY(-55%);
}

/* 링크 */
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.links a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 12px;
  margin-right: 45%;
}
