/* 전체 페이지 스타일 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

/* 로그인 박스 */
.loginBox {
  width: 350px;
  padding: 30px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

/* 제목 */
h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* 입력 필드 */
.input {
  width: 95%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

/* 로그인 버튼 */
.loginButton {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #0056b3;
}

.passwordWrapper {
  position: relative;
  width: 100%;
}

.passwordWrapper .input {
  width: 87%;
  padding-right: 40px;
}

.eye {
  position: absolute;
  right: 10px;
  top: 30%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

/* 링크 */
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.links a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

/* 소셜 로그인 */
.socialLogin {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.google,
.kakao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.google {
  color: black;
  gap: 16px;
}

.kakao {
  background-color: #fee500;
  color: #3c1e1e;
  gap: 10px;
}

.google:hover {
  background-color: lightgray;
}

.kakao:hover {
  background-color: #fdd835;
}
