body {
  --color-main: #237af6;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

ul,
li,
a,
button {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  list-style: none;
}
button {
  background-color: inherit;
  border: 1px solid transparent;
  cursor: pointer;
}

.mypage {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  .mypageContainer {
    display: flex;
    align-items: start;
    .btnAside {
      min-width: 130px;
      background-color: #fafafa;
      border-radius: 20px;
      ul {
        padding: 10px;
        li {
          padding: 10px 20px;
          cursor: pointer;
          color: #999;
          &:hover {
            font-weight: bold;
          }
          &.active {
            font-weight: bold;
            color: #000;
          }
        }
      }
    }
    .mypageSection {
      width: 100%;
    }
  }
}
