body {
  --color-main: #237af6;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.cart {
  padding: 0 2rem 2rem;

  h1.cart__title {
  }
  .cart__container {
    width: 100%;
    text-align: center;

    .cart__header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ddd;
      padding: 1rem;
      .cart__column {
        &.cart__column--info {
          width: 70%;
        }
        &.cart__column--quantity {
          width: 10%;
        }
        &.cart__column--total {
          width: 10%;
        }
        &.cart__column--cancel {
          width: 10%;
        }
      }
    }

    .cart__actions {
      display: flex;
      align-items: center;
      justify-content: end;
      margin: 3rem 1rem 1rem;
      .cart__orderButton {
        background-color: var(--color-main);
        color: #fff;
        padding: 0.7rem 2rem;
        font-size: 1.1rem;
        border-radius: 100px;
        border: 2px solid var(--color-main);
        a {
          font-weight: bold;
        }
        &:hover {
          background-color: #fff;
          color: var(--color-main);
        }
        a {
        }
      }
    }
  }
}
