.cart__total {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 2rem;
  gap: 1rem;
  font-weight: 900;
  font-size: 1.2rem;
  .cart__totalLabel {
  }
  .cart__totalPrice {
    .cart__totalPriceValue {
      color: var(--color-main);
    }
    .cart__totalPriceUnit {
      margin-left: 10px;
    }
  }
}
